body{font-family:Arial; font-size:14px}
.done{color:green; text-decoration:line-through}
.urgent{font-size:30px}
li.done{color:orange;text-decoration:line-through
h1.done(color:red)}
#my-div{color:pink}
#my-div p {color:green}
h2{color:rgb(255, 100, 200) !important}
h2{color:green}
.example{height:100px; width:100px;border:3; display:inline-block;background-color: purple}
.parent-example{position:relative;background-color: yellow; left:45px}
